<%= form_for(@book_review) do |f| %>
  <% if @book_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_review.errors.count, "error") %> prohibited this book_review from being saved:</h2>

      <ul>
      <% @book_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <%= f.hidden_field :book_id, value: @book_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
