<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @book_review.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @book_review.user.email %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_review.book.title %>
</p>

<%= link_to 'Edit', edit_book_review_path(@book_review) %> |
