<div class="container">
  <h1> Invite a Friend! </h1>
  <%= form_for(:invite, url: me_invite_path, method: :post) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.submit 'Send!', class: 'btn'%>
      <% if can? :admin, :site %>
        <%= f.label :can_admin, 'Invite as admin!' %>
        <%= f.check_box :can_admin %>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
