<div class="container-fluid">
<h1>Listing books</h1>

<table style="width:100%">
  <thead>
    <tr>
      <th><%= link_to "Author", books_path(:column => "author", :order => params[:sort] || 'asc') %></th>
      <th>Title</th>
      <th>Status</th>
      <th>ISBN</th>
      <th>Rating</th>
      <th>Active</th>
      <th>Approved at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.author %></td>
        <td><%= link_to book.title, book %></td>
        <td><%= book.status %></td>
        <td><%= book.isbn %></td>
        <td><div id="star_<%= book.id %>"></div></td>
        <td><%= book.active %></td>
        <td><%= book.approved_at %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %>
            <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <script>
        $('#star_<%= book.id %>').raty({
              readOnly: true,
              start: <%= book.average_rating %>,
              path: '/assets'
          });
      </script>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
</div>

