<div class="container-fluid">
<h1>Listing books</h1>

<table class='table' style="width:100%">
  <thead>
    <tr>
      <th><%= link_to "Author", books_path(:column => "author", :order => search_sort_by[:order]), :class => "author_link" %></th>
      <th><%= link_to "Title", books_path(:column => "title", :order => search_sort_by[:order]), :class => "title_link" %></th>
      <th><%= link_to "Status", books_path(:column => "status", :order => search_sort_by[:order]), :class => "status_link" %></th>
      <th><%= link_to "ISBN", books_path(:column => "isbn", :order => search_sort_by[:order]), :class => "isbn_link" %></th>
      <th><%= link_to "Rating", books_path(:column => "rating", :order => search_sort_by[:order]), :class => "rating_link" %></th>
      <th><%= link_to "Active", books_path(:column => "active", :order => search_sort_by[:active]), :class => "active_link" %></th>
      <th>Approved at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <% if book.active %>
        <tr>
      <% else %>
        <tr class="warning">
      <% end %>
        <td id="<%= book.id %>" class="author"><%= book.author %></td>
        <td id="<%= book.id %>" class="title"><%= link_to book.title, book %></td>
        <td id="<%= book.id %>" class="status"><%= book.status %></td>
        <td id="<%= book.id %>" class="isbn"><%= book.isbn %></td>
        <td id="<%= book.id %>" class="rating"><div id="star_<%= book.id %>"></div></td>
        <td><%= book.active == true ? "Y" : "N" %></td>
        <td>
          <% if book.approved %>
            <%= book.approved_at.strftime("%m/%d/%Y") %>
          <% else %>
            not approved 
          <% end %>
        </td>
        <td>
        </td>
      </tr>
      <script>
        $('#star_<%= book.id %>').raty({
              readOnly: true,
              start: <%= book.rating %>,
              path: '/assets'
          });
      </script>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
</div>

