<div class="container">

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @book.rating %>
</p>

<p>
  <strong>Active:</strong>
  <%= @book.active %>
</p>

<p>
  <strong>Approved at:</strong>
  <%= @book.approved_at %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<br>
<%# TODO: only show this form to logged in users %>
<%# TODO: if logged in, and use has rated the book already, do edit instead of new. %>
<%# TODO: change to stars %>
<%= form_for(BookRating.new(book: @book), remote: true) do |f| %>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <%= f.hidden_field :book_id, value: @book.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br>
<%= link_to 'Add Review', new_review_for_book_path(@book) %>
</div>
