<div class="container">

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Rating:</strong>
  <div id="star"></div>

  <script>
      $('#star').raty({
          readOnly: true,
          start: <%= @book.average_rating %>,
          path: '/assets'
      });
  </script>

  <% if @user %>
    <strong>User Rating:</strong>
    <div id="user_star"></div>
  </p>

    <script>
      $('#user_star').raty({
          start: <%= @rating.score %>,
          path: '/assets',
          click: function(score, evt) {
              $.ajax({
                  url: '/ratings/' + <%= @rating.id %>,
                  type: 'PATCH',
                  data: { score: score }
              });
          }
      });
    </script>
  <% end %>

<p>
  <strong>Active:</strong>
  <%= @book.active %>
</p>

<p>
  <strong>Approved at:</strong>
  <%= @book.approved_at %>
</p>

<% if can? :update, @book %> 
  <%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Back', books_path %>
<br>

<%= render 'book_review_form' %>
<%= render 'book_reviews_list' %>
</div>
